.card {
  background: var(--gray-50);
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);

  width: 24rem;
  padding: 0.5rem;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .items {
    margin-top: 1rem;
    width: 100%;
    display: auto;
    flex-direction: column;
  }
}